<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>My Ramblings :: {{TITLE}}</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <h1>My Ramblings</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
      <div id="connectivity-status" class="hidden"></div>
    </header>

    <main>
      <h1>{{TITLE}}</h1>

      {{POST}}
    </main>

    <script src="/js/blog.js"></script>
  </body>
</html>
